* {
  font-family: 'Roboto', sans-serif;
}

body {
  margin: 0;
  padding: 0;
  background: linear-gradient(135deg, #000000 0%, #050974 100%);
  min-height: 100vh;
  color: white;
  text-align: center;
}
